.button {
	background-color: orange;
	text-decoration: none;
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: white;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.button:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff8000;
	border-radius: 10rem;
	z-index: -2;
}

.button:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: white;
	transition: all .3s;
	border-radius: 10rem;
	z-index: -1;
}

.button:hover {
	color: #ff8000;
}

.button:hover:before {
	width: 100%;
}

.container {
	padding-top: 50px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

h1 {
	font-family: Arial;
	background-color: orange;
	color: white;
	text-transform: uppercase;
	font-size: xx-large;
	margin-bottom: 2rem;
}

span {
	display: block;
	margin-top: 2rem;
	font-size: .7rem;
	color: #777;
}

span a {
	font-size: .7rem;
	color: #999;
	text-decoration: underline;
}

body {
	margin: 0;
	background-color: yellow;
	font-size: large;
}

.error {
	background-color: #d9534f;
}

.success {
	background-color: #5cb85c;
}



/* The Modal (background) */

.modal {
	display: block;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
	text-align: center;
	font-size: xx-large;
	margin: 15% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}



ul.topnav {
	font-size: x-large;
	border-left: 10px solid orange;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 0;
	z-index: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: orange;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li.active {
	border-bottom: 5px solid white;
}

ul.topnav li a:hover {
	color: orange;
	background-color: white;
}

ul.topnav li.right {
	float: right;
}


/* @media screen and (max-width: 600px){
	ul.topnav li.right, ul.topnav li {float: none; width: 100%; position: absolute; top: 0;};
}
*/


